<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada">
                    <match url="^([a-zA-Z0-9-]*)$(|/)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?router={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Regla 2 importada">
                    <match url="^api/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)$(|/)" ignoreCase="false" />
                    <action type="Rewrite" url="./app/request/index.php?requestype=api&amp;class={R:1}&amp;function={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Regla 3 importada">
                    <match url="^ws/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)$(|/)" ignoreCase="false" />
                    <action type="Rewrite" url="./app/request/index.php?requestype=ws&amp;class={R:1}&amp;function={R:2}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
